<% layout('layouts/boilerplate')%>

    <div class="container">

        <% for (let place of places){%>
            <div class="card mb-3">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= place.name %>
                        </h5>

                        <p class="card-text">
                            <%= place.description %>
                        </p>

                        <a class="btn btn-dark" href="/places/<%=place._id%>">Ver
                            <%=place.name%>
                        </a>
                    </div>
                </div>
            </div>

            <% }%>
    </div>