<% layout('layouts/boilerplate')%>

    <form action='/message/<%=user.id%>' method="POST">
        <div class="mb-3">
            <label class="form-label" for="body">Mensajear <%=user.username%></label>
            <textarea class="form-control" name="message[body]" id="body" cols="30" rows="3" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Mandar</button>
    </form>